{% extends 'base.html' %}
{% block content %}
<h1>
    {% block title %} Analyzed text {% endblock %}
</h1>
<p id="readability">Number of Vocabulary Words: {{readability}}%</p>
<br>
<p>Click here t0 try the compound-split module. <a href="https://colab.research.google.com/drive/1NOWvme-jCau5EG3Pu3S-v-msUDgt4V-i?usp=sharing">compound-split module</a>.</p>
<br>
<p id="text"></p>

<script>
    var text = {{ text | tojson}};
    document.getElementById("text").innerHTML = text;
</script>

{% endblock %}