<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Text Highlighter</title>
        <!-- linking to PyScript assets -->
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>

        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <h1>Text Highlighter</h1>
        <h5>Goal: highlight words that students should know in an article</h5>
        <hr>
        <br>
        <!-- <py-script>print("Hello world!")</py-script> -->
        <br>
        <H1><FONT COLOR="#FF0000">The text is red</FONT></H1>
        <div title="This is a mouseover text!">Hover this text to see the result.</div>
        <br>
        <!-- <py-script src="./main.py"></py-script> -->
        <!--To run in a browser, go to terminal and execute: python -m http.server 8000-->
        <!--Then go to http://localhost:8000/ -->
        
    </body>
</html>